*.agdai
MAlonzo/

hi
for github

 SPDX-License-Identifier 
pragma solidity >=0.8.0;1
n
interface Token 
    function balanceOf(address _a) external vi
    function transfer(address _to, uint _amt) exte

cd $HOME
rm -rf celestia-app
git clone https://github.com/celestiaorg/celestia-app.git
cd celestia-app
git checkout v0.6.0
make install 
make 123456789123456789a
11 
22
33
4
5
6
7
8
