*.agdai
MAlonzo/**

hi
for github

 SPDX-License-Identifier 
pragma solidity >=0.8.0;1

interface Token {
    function balanceOf(address _a) external vi
    function transfer(address _to, uint _amt) exte
}
